<!DOCTYPE html>
<html>
    <head>        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>Dear $name,</p>
        <p>
            An eBank user account has been created by your admin.
            Your login details are as follows; <br>
            Username: $email<br>
            Temporary password: $pass<br>            
        </p>
        <p>
           Please change this password on your first time login.<br> 
           Login link: $link<br>
           If you can't open the link, please copy it and paste it direct on the browser.
        </p>
        <p>Thanks <br>eBank</p>
    </body>
</html>